.cat {
    top: 0;
    h1 a.logo {
      font-size: 3rem ;
      font-weight: 600;  
    }
    
}
.productos {    
    min-height: 80vh;
    margin-top: 13rem;
    .productos__center {
        padding: 0 3rem;
        margin: 0 auto;
        display: grid;        
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));       
        gap: 1.5rem;

        .card {
            width: 190px;
            height: 350px;
            padding: .8rem;
            background: #f5f5f5;
            position: relative;
            border-radius: 1rem;
            overflow: visible;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
            animation:  all .5s ease-in-out;
            margin-top: 1rem;                       
           }
           
           .card__img {
            background-color: #ffcaa6;
            height: 50%;
            width: 100%;
            padding: 0.8rem 0;
            border-radius: 1rem;
            transition: .3s ease;
           }
           img{
            width: 120px;
           }
           .max{
            max-width: 120px ;
            margin: 0 auto;
           }
           
           .card__info {
            padding-top: 10%;
           }
           
           svg {
            width: 20px;
            height: 20px;
           }
           
           .card__footer {            
            width: 100%;
            @include flexible(flex, row, nowrap, space-between, center);           
            padding: 10px 0;
            border-top: 1px solid #ddd;
           }
           
           /*Text*/
           .text__title {
            font-weight: 900;
            font-size: 1.2rem;
            line-height: 1.5;
           }
           
           .text__body {
            font-size: .9rem;
            padding-bottom: 10px;
           }
           
           /*Button*/
           .card__button {
            border: 1px solid #252525;
            display: flex;
            padding: .3rem;
            cursor: pointer;
            border-radius: 50px;
            transition: .3s ease-in-out;            
           }
           
           /*Hover*/
           .card__img:hover {
            transform: translateY(-25%);
            box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
           }
           
           .card__button:hover {
            border: 1px solid #ffcaa6;
            background-color: #ffcaa6;
           }
           
           .card:hover{    
           transform: scale(1.1);
           }
    }
}

.remove-f{
    visibility: hidden;
}